<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'home' %}">FoodFriends <i class="fa-solid fa-kitchen-set"></i></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Переключатель навигации">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0 top-menu">
      <div class="navbar-nav">
        <a class="nav-link active" aria-current="page" href="{% url 'home' %}">Home</a>

        <li class="nav-item dropdown">
        <a class="nav-link active dropdown-toggle" data-bs-toggle="dropdown" aria-current="page" href="#">Category</a>
          <ul class="dropdown-menu">
              {% for item in category %}
                <li>
                  <a class="dropdown-item" href="{% url 'category' item.pk %}">{{item.title}}</a>
                </li>
              {% endfor %}
          </ul>
        </li>

        <a class="nav-link" href="{% url 'view_recipes' %}">Recipes</a>
            {% if request.user.is_authenticated %}
          <a class="nav-link active" aria-current="page" href="{% url 'add_food' %}">Add food</a>
         {% endif %}

        <a class="nav-link" href="#"data-bs-toggle="modal" data-bs-target="#modal-hi">Hello, my friend</a>

                       <div class="modal fade" id="modal-hi" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Рекомендуемые условия для участия</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
      </div>
      <div class="modal-body">

     <table class="table">
  <tbody>
    <tr>
      <td> Бла-бла-бла </td>

    </tr>
  </tbody>
</table>

        </ul>

          <ul class="navbar-nav ms-auto mb-2 mb-lg-0">

        <li class="nav-item dropdown">
            {% if request.user.is_authenticated %}
                Добро пожаловать {{ user.username }} | <a href="{% url 'logout' %}">Выход</a>
        {% else %}
          <a class="nav-link active dropdown-toggle" data-bs-toggle="dropdown" aria-current="page" href="#"><i class="fa-sharp fa-solid fa-user"></i></a>
        <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="{% url 'register' %}">Регистрация</a></li>
            <li><a class="dropdown-item" href="{% url 'login' %}">Авторизация</a></li>
          </ul>
        </li>
{% endif %}
         <li class="nav-item">
          <a class="nav-link activ" aria-current="page" href="#"data-bs-toggle="modal" data-bs-target="#modal-cart">
              <i class="fa-solid fa-cart-shopping"></i></a>

             <div class="modal fade" id="modal-cart" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Бронь</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
      </div>
      <div class="modal-body">

     <table class="table">
  <tbody>
    <tr>
      <td><img src="media\photos\2022\11\12\supy-na-kazhdyy-den-recepty-foto-1310-0.jpg" alt=""></td>
      <td>Суп</td>
      <td>Ваша доставка</td>
    </tr>
  </tbody>
</table>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
        <button type="button" class="btn btn-primary">Сохранить изменения</button>
      </div>
    </div>
  </div>
</div>

        </li>

          </ul>
      </div>
    </div>
  </div>
</nav>